code {
  display: inline;
  overflow-x: auto;
  font-size: 0.8rem;
  background-color: #2e3338;
  color: white;
  padding: 5px;
  border-radius: 2px;
}
pre {
  code {
    word-wrap: break-word;
    max-width: 100%;
  }
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #2e3338;
  color: white;
  padding: 10px 5px;
  border-radius: 2px;
  margin: 5px 0;
  & + h2 {
    margin-top: 20px;
  }
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

ul {
  ul {
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 5px;
  }
}
